body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.statusOnline{
    display: flex;
    margin-left: auto;
    margin-bottom: 100px;
    align-items: center;
    padding: 7px 5px;
    margin-top: 50px;
    margin-right: 10px;
    border: none;
    background-color: white;
    color: #00c16c;
    font-weight: bold;
    border-radius: 10px;
    width: 65px;
    height: 30px;
}

#cabecalhoPagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: green;
    height: 150px;
}

.logoEimg{
    display: flex;
    align-items: center;
    gap: 10px;
}

.barraNavegacao{
    margin-left: 950px;
}

.linkPagina{
    padding: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100%;
    color: white;
}

#logo{
    width: 200px;
    margin-top: 40px;
}

#tituloCabecalho{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
    color: white;
}

#finalPagina{
    background-color: #092b5a;
    padding: 5px;
}

#h3SobreNos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.paragrafoSobreNos{
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#blocoSobreNos{
    width: 300px;
    text-align: justify;
    padding: 2px 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

#secaoFooter{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#contato{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#paragrafoContato{
    cursor: pointer;
    transition: transform 0.3s ease;
}

#paragrafoContato:hover{
    transform: scale(1.1);
}

#referencia{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#paragrafoCoronavirus{
    cursor: pointer;
    transition: transform 0.3s ease;
}

#paragrafoCoronavirus:hover{
    transform: scale(1.1);
}

.tituloSobreNos{
    display: flex;
    align-items: center;
    gap: 8px;
}

#setaIcons{
    width: 18px;
    height: 18px;
}

.imgSeta{
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}